.user-form{
    display: flex;
    justify-content: center;
    align-items: center;

    & form{
        border: 2px solid var(--darkColor);
        border-radius: var(--borderRadiusOne);
        padding: 2rem 1.5rem;

        & label,
        & > button{
            margin-top: 2rem;
        }

        p{
            margin-top: 1rem;
            
            a{
                color: var(--darkColor);
                font-weight: 600;
                text-decoration: underline;
            }
        }
    }
}