.floor-materials{
    padding-top: 2rem;

    > h2{
        margin-block-end: 4rem;
    }

    .floor-material-container{
        display: flex;
        width: 100%;
        padding: 1rem;
        height: 60vh;
        border: 2px solid var(--darkColor);
        border-radius: var(--borderRadiusTwo);

        &:nth-child(3),
        &:nth-child(4){
            margin-block: 3rem;
        }

        .floor-info, img{
            width: 50%;
            aspect-ratio: 1;
        }

        img{
            border-top-right-radius: var(--borderRadiusTwo);
            border-bottom-right-radius: var(--borderRadiusTwo);
            object-fit: cover;
        }

        .floor-info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 1.5rem;
            padding-inline: 1rem 7rem;

            p{
                font-size: 14px;
            }
        }
    }
}
