.floor-materials{
    padding-top: 2rem;

    > h2{
        margin-block-end: 4rem;
    }

    img{
        border-top-left-radius: var(--borderRadiusOne);
        border-bottom-left-radius: var(--borderRadiusOne);
        height: 50vh;
        width: 50%;
        object-fit: cover;
    }
}
