.floor-materials{
    padding-top: 2rem;

    img{
        border-top-left-radius: var(--borderRadiusOne);
        border-bottom-left-radius: var(--borderRadiusOne);
        height: 50vh;
        width: 50%;
        object-fit: cover;
        border: 1rem solid var(--backgroundColorThird);

        @media (max-width: 768px){
            width: 100%;
            height: 25vh;
            border-top-left-radius: var(--borderRadiusOne);
            border-top-right-radius: var(--borderRadiusOne);
            border-bottom-left-radius: 0;
        }
    }
}
