.container-flex{
    display: flex;
    background: white;
    border-radius: var(--borderRadiusOne);
    margin-block: 2rem;
    overflow: hidden;

    @media (max-width: 768px){
        flex-direction: column;
    }
}