.container-flex{
  display: flex;
  background: var(--backgroundColorSecond);
  border-radius: var(--borderRadiusOne);
  border: 2px solid var(--fontColor);
  margin-block: 2rem;
  overflow: hidden;

  @media (max-width: 768px){
    flex-direction: column;
  }
}