.button{
  color: var(--white);
  border: 2px solid var(--contrastColor);
  
  .icon{
    margin-top: 0.2rem;
    color: var(--white);
  } 
}

.clicked{
  overflow: hidden;

  .icon{
    animation: moving 0.5s;
}
}

@keyframes moving{
  100%{
    transform: translateX(300%);
  }
}

