nav{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 10rem);
    display: flex;
    justify-content: space-between;
    background: var(--lightColor);
    border: 2px solid var(--darkColor);
    border-radius: var(--borderRadiusTwo);
    margin-top: 0.75rem;
    padding: 0.7rem;
    z-index: 1000;

    div{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.7rem;

        > a, 
        > button{
            border: 2px solid var(--darkColor);
            color: var(--darkColor);
            padding: 0.7rem 1.5rem;
            border-radius: var(--borderRadiusTwo);
            font-weight: 600;
        }
    }
}


