nav{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - clamp(1rem, -8rem + 32vw, 10rem));
    display: flex;
    justify-content: space-between;
    background: var(--white);
    border: 2px solid var(--darkColor);
    border-radius: var(--borderRadiusTwo);
    margin-top: 0.75rem;
    padding: 0.5rem;
    z-index: 1000;

    .logo{
      display: none;
      font-size: 30px;
      font-weight: 600;
      margin-block: auto;
      margin-left: 1rem;
      color: var(--darkColor);

      span{
        color: var(--accentColor)
      }

      @media (max-width: 831px){ 
        display: block;
      }
    }

    div{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.7rem;

        &:nth-child(1){ 

            @media (max-width: 831px){
                display: none;
            }
        }

        > a, 
        > button{
            color: var(--darkColor);
            padding: 0.7rem 1.5rem;
            border-radius: var(--borderRadiusTwo);
            border: 2px solid var(--darkColor);
            font-weight: 600;

            > span{
                color: var(--accentColor);
            }
        }

        .shopping-cart{
            position: relative;

            .cart-counter{
                position: absolute;
                right: -20%;
                top: -20%;
                height: 1.5em;
                aspect-ratio: 1;
                border-radius: 50%;
                background: var(--accentColor);
                border: 2px solid var(--darkColor);
                color: var(--lightColor);
                font-size: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .menu-button{
            height: 100%;
            aspect-ratio: 1;
            padding: 0;
            margin-right: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--lightColor);
            display: none;

            @media (max-width: 831px){
                display: block;
            }

            > .icon{
                margin-top: 0.3rem;
            }
        }
    }
}

.responsive-menu{
    position: fixed;
    top: 12vh;
    width: calc(100% - clamp(2rem, -5.5rem + 24vw, 8rem));
    background: var(--white);
    border: 2px solid var(--darkColor);
    border-radius: var(--borderRadiusOne);
    z-index: 1000;
    transition: all 0.5s;
    display: none;
    left: 50%;
    padding-block: 3rem;

    .responsive-menu-container{
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        > a{
            margin: 0 auto;
        }
    }

    @media (max-width: 831px){
        display: block;
    }
}
