.canvas{
    padding-inline: 5rem;
    padding-bottom: 2rem;

    & canvas{
        height: calc((100vh - 12vh) - 2rem);
        width: 100%;
        border: 2px solid var(--lightColor);
        border-radius: var(--borderRadiusOne);
        background: var(--darkColor);
    }
}