.canvas{
    position: relative;
    margin-top: 14vh;
    padding-inline: clamp(0.3rem, -5.575rem + 18.8vw, 5rem);
    padding-bottom: 2rem;
    overflow: hidden;
    overflow: auto;
    touch-action: manipulation;

    .sub-canvas{
        position: relative;
        height: calc((100vh - 12vh) - 2rem);
        width: 100%;
        overflow: hidden;

        & canvas{
            height: 100%;
            width: 100%;
            border-radius: var(--borderRadiusOne);
            background: var(--black);
            touch-action: none;
        }
    }
}