.container{
    height: calc(100vh - 17vh);
    width: 100%;
    background: var(--darkColor);
    border-radius: var(--borderRadiusOne);
    padding: 1rem 1.2rem;
    overflow: hidden;

    .box{
        height: 50%;
    
        &.upper{

            p{
                margin-block: 1rem 1.5rem;
                font-size: 14px;
                width: 35%;
                color: var(--lightColor);
            }
            
            .cta{
                display: flex;
                gap: 0.7rem;

                > a{
                    background: var(--accentColor);
                    color: ar(--lightColor);
                    cursor: pointer;
                    border: 2px solid var(--lightColor);
                    padding: 0.7rem 1.5rem;
                    border-radius: var(--borderRadiusTwo);
                }

                > a:nth-child(2){
                    background: none;
                }
            }
        }

        &.lower{
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            h1{
                font-size: 170px;
                font-weight: 400;
                line-height: 0.8;
                color: var(--lightColor);
            }
        } 
    }
}