.home{
    padding-top: 0.2rem;
    
    .container{
        position: relative;
        height: calc(100vh - 17vh);
        width: 100%;
        background: rgb(0, 0, 0, 0.47);
        border-radius: var(--borderRadiusOne);
        padding: 1rem 1.2rem;
        margin-bottom: 4rem;
        overflow: hidden;

        video{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            object-fit: cover;
        }
    
        .home-box{
            height: 50%;
        
            &.upper{

                p{
                    margin-block: 1rem 1.5rem;
                    font-size: 14px;
                    width: 450px;
                    color: var(--lightColor);

                    @media (max-width: 1024px){
                        width: 50%;
                    }

                    @media (max-width: 768px){
                        width: 75%;
                    }

                    @media (max-width: 500px){
                        width: 100%;
                    }
                }
                
                .cta{
                    display: flex;
                    gap: 0.7rem;

                    @media (max-width: 500px){
                        flex-direction: column;
                        align-items: flex-start;
                    }
    
                    > a{
                        background: var(--accentColor);
                        color: ar(--lightColor);
                        cursor: pointer;
                        border: 2px solid var(--lightColor);
                        padding: 0.7rem 1.5rem;
                        border-radius: var(--borderRadiusTwo);
                    }
    
                    > a:nth-child(2){
                        background: none;
                    }
                }
            }
    
            &.lower{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
    
                h1{
                    font-size: clamp(4.375rem, -3.4375rem + 15vw, 10.625rem);                 font-weight: 400;
                    line-height: 0.8;
                    color: var(--lightColor);

                    &:nth-child(2){
                      padding-right: clamp(0rem, -12.5rem + 40vw, 10rem);
                    }
                }
            } 
        }
    }

    .img{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--offsetColor);

        @media (max-width: 768px){
            width: 100%;
            height: 22vh;
        }
    }
}