footer{
    height: 40vh;
    width: 100%;
    background: rgb(224, 224, 224);

    .footer-container{
        height: 50%;
        display: flex;
        align-items: center;
        padding-inline: 5rem;

        &:nth-child(1){
            border-bottom: 2px solid rgb(178, 178, 178);
            justify-content: space-between;

            @media (max-width: 768px){
                height: 70%;
                flex-direction: column;
                justify-content: space-evenly;
            }

            ul{
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 1rem;

                @media (max-width: 1200px){
                    grid-template-columns: repeat(3, 1fr);
                }

                @media (max-width: 900px){
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }

        &:nth-child(2){
            flex-direction: column;
            justify-content: center;
            gap: 1rem;

            @media (max-width: 768px){
                height: 30%;
            }

            ul{
                display: flex;
                gap: 1rem;
            }
        }

        li a{
            color: black;
        }
        

        p{
            margin-top: 1rem;
        }

        div{
            display: flex;
            gap: 1rem;

            a{
                border: 2px solid var(--darkColor);
                padding: 0.7rem 1.5rem;
                border-radius: var(--borderRadiusTwo);
                color: var(--darkColor);

                &:nth-child(1){
                    background: var(--accentColor);
                    color: var(--lightColor);
                }
            }
        }
    }
}