.dashboard{
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 230px;
    height: 80%;
    backdrop-filter: blur(10px);
    border-radius: var(--borderRadiusOne);
    padding: 1rem 0.7rem;
    border: 2px solid rgb(255, 255, 255, 0.2);
    background: rgb(0, 0, 0, 0.05);
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;

    &.hide{
        right: calc(-230px - 1rem);
    }
    
    p{
        color: var(--lightColor);
        margin-bottom: 0.5rem;
    }

    &:hover{
        border: 2px solid var(--lightColor);
        background: rgb(0, 0, 0, 0.5);
    }

    .dashboard-container{
        display: flex;
        flex-direction: column;
        align-items: center;

        .floor-material-buttons-container{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 0.5rem;

            .floor-material-button{
                height: 45px;
                aspect-ratio: 1;
                border-radius: 50%;
                cursor: pointer;
                border: 2px solid var(--lightColor);
            }
    
            .active{
                border: 4px solid rgb(0, 196, 0);
            }
        }

        .color-picker-container {
            position: relative;
            width: 45px;
            aspect-ratio: 1;
    
            .color-switch {
                border-radius: 50%;
                height: 100%;
                width: 100%;
                border: 2px solid var(--lightColor);
            }
    
            .color-picker {
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
            
            .icon{
                position: absolute;
                top: 50%;
                left: 50%;
                translate: -50% -50%;
                pointer-events: none;
            }
        }
    }
}

.toggle-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(230px + 1rem);
    height: 50px;
    width: 50px;
    clip-path: polygon(100% 0, 50% 50%, 100% 100%);
    background: rgb(255, 255, 255, 0.6);
    transition: all 0.3s;
    cursor: pointer;

    &.hide{
        right: 0px;
    }

    &:hover{
        background: var(--lightColor);
    }
}



  