.dashboard{
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 12rem);
    backdrop-filter: blur(10px);
    border-radius: var(--borderRadiusTwo);
    padding: 0.7rem;
    border: 2px solid rgb(255, 255, 255, 0.2);
    background: rgb(0, 0, 0, 0.05);
    transition: all 0.3s;
    display: flex;
    justify-content: space-between;

    p{
        color: var(--lightColor);
    }

    &:hover{
        border: 2px solid var(--lightColor);
        background: rgb(0, 0, 0, 0.5);
    }

    .floor-material-buttons{
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-right: 1rem;

        .floor-material-button{
            height: 50px;
            aspect-ratio: 1;
            border-radius: 50%;
            cursor: pointer;
            border: 2px solid var(--lightColor);
        }

        .active{
            border: 4px solid rgb(0, 196, 0);
        }
    }

    .color-input{
        display: flex;
        gap: 1rem;
        align-items: center;

        .color-picker-container {
            position: relative;
            width: 50px;
            aspect-ratio: 1;
    
            .color-switch {
                border-radius: 50%;
                height: 100%;
                width: 100%;
                border: 2px solid var(--lightColor);
            }
    
            .color-picker {
                opacity: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                cursor: pointer;
            }
        }
    }
}


  

  
  