@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root{
  --white: #fff;
  --lightColor: #f5f5f5;
  --backgroundColor: #f2f2f2;
  --darkColor: #171717;
  --accentColor: #572dff;
  --offsetColor: #e0e1ea;

  --borderRadiusOne: 30px;
  --borderRadiusTwo: 50px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  list-style: none;
}

body{
  background: var(--backgroundColor);
}

section{
  min-height: 86vh;
  margin-top: 14vh;
  padding-inline: clamp(0.625rem, -4.8438rem + 17.5vw, 5rem);
  padding-bottom: 2rem;
}

button{
  background: var(--accentColor);
  color: var(--lightColor);
  border: 2px solid var(--darkColor);
  border-radius: var(--borderRadiusTwo);
  cursor: pointer;
  padding: 0.7em 1.5em;
  display: flex;
  gap: 0.2em;
}

a{
  color: var(--lightColor);
}

.icon-button{
  height: 50px;
  aspect-ratio: 1;
  font-size: clamp(1.25rem, 0.7031rem + 1.75vw, 1.6875rem);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}