:root{
  --lightColor: whitesmoke;
  --darkColor: #171717;
  --accentColor: #572dff;

  --borderRadiusOne: 30px;
  --borderRadiusTwo: 50px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Poppins;
  list-style: none;
}

body{
  background: var(--lightColor);
}

form{
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 300px;
}

section{
  min-height: 100vh;
  margin-top: 12vh;
  padding-inline: 5rem;
  padding-bottom: 2rem;
}

button{
  background: var(--accentColor);
  color: var(--lightColor);
  cursor: pointer;
  border: 2px solid var(--lightColor);
  padding: 0.7rem 1.5rem;
  border-radius: var(--borderRadiusTwo);
}

a{
  color: var(--lightColor);
}

.icon-button{
  height: 50px;
  aspect-ratio: 1;
  font-size: 27px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}